Repository A-T-0-M-1-K/ai-freelance-automation: changes, and which Codecov flags are due for each by the changed paths.
All: core, services, ai_models, plugins

codecov.yml:

# codecov.yml
# Code Coverage Configuration for AI_FREELANCE_AUTOMATION
# Ensures industrial-grade test coverage aligned with 99.9% uptime SLA

codecov:
  # Require CI status to pass before merging
  require_ci_to_pass: true
  # Notify only on significant changes
  notify:
    after_n_builds: 1
    wait_for_ci: true

coverage:
  # Global coverage policy
  range: 70..100
  round: down
  precision: 2

  status:
    project:
      default:
        # Enforce minimum coverage across entire project
        target: 85%
        threshold: 1%
        base: auto
        informational: false

    patch:
      default:
        # New code must be well-tested
        target: 90%
        threshold: 2%

    changes:
      default:
        # Fail if coverage drops in modified files
        enabled: true

  # Per-component coverage requirements
  notify:
    slack:
      default:
        url: "https://hooks.slack.com/services/..."  # Optional: replace with real hook
        branches:
          - main
          - develop

# File-specific rules
ignore:
  # Non-code and generated files
  - "*.txt"
  - "*.md"
  - "*.yml"
  - "*.yaml"
  - "*.json"
  - "*.cfg"
  - "*.ini"
  - "logs/**/*"
  - "docs/**/*"
  - "dist/**/*"
  - "build/**/*"
  - "__pycache__/**/*"
  - "*.pyc"
  - "*.so"
  - "*.dll"
  - "*.exe"

  # Security-sensitive or non-testable
  - "core/security/key_manager.py"            # Key handling logic often untestable in CI
  - "core/security/advanced_crypto_system.py" # Hardware-bound crypto may skip coverage
  - "secrets/**/*"
  - "env/**/*"
  - ".env*"

  # Auto-generated or plugin stubs
  - "plugins/**/stubs/**/*"
  - "plugins/**/generated/**/*"

  # UI (frontend) â€” covered by separate tests
  - "ui/frontend/**/*"
  - "ui/assets/**/*"

# Component-specific overrides
flags:
  core:
    paths:
      - "core/"
    carryforward: true
    status:
      project:
        target: 95%   # Core must be extremely well-tested
  services:
    paths:
      - "services/"
    carryforward: true
    status:
      project:
        target: 90%
  ai_models:
    paths:
      - "ai/models/"
      - "core/ai_engine/"
    carryforward: true
    status:
      project:
        target: 88%   # AI inference may have stochastic elements
  plugins:
    paths:
      - "plugins/"
    carryforward: true
    status:
      project:
        target: 80%   # Plugins may be third-party

# Pull request comments
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true
  branches:
    - main
    - develop

Initial commit
  core/automation/__init__.py
  core/automation/saga_orchestrator.py
  core/config/__init__.py
  core/config/hierarchical_config_manager.py
  core/config/unified_config_manager.py
  core/security/secret_vault.py
  scripts/tools/migrate_secrets.py
Due: core

Initial commit
  config/profiles/low_resource.json
  core/ai_management/__init__.py
  core/ai_management/adaptive_model_loader.py
  core/config/unified_config_manager.py
  core/security/secret_vault.py
  scripts/setup/detect_device_profile.py
  scripts/tools/migrate_secrets.py
Due: core

Initial commit
  config/profiles/low_resource.json
  core/ai_management/adaptive_model_loader.py
  core/security/secret_vault.py
  scripts/setup/detect_device_profile.py
Due: core

Initial commit
  core/ai_management/adaptive_model_loader.py
  core/analytics/market_trend_predictor.py
  core/config/hierarchical_config_manager.py
  core/monitoring/memory_optimizer.py
  core/security/db_ssl_validator.py
  core/security/secret_vault.py
  docker/prometheus/alert_rules.yml
  migrations/data_migrations/convert_old_job_format.py
  migrations/unified_migration_manager.py
  plugins/integration_plugins/voice_assistant_core.py
  plugins/integration_plugins/voice_assistant_secure.py
  scripts/maintenance/backup_system.py
  scripts/setup/secure_key_generator.py
  services/portfolio/portfolio_generator.py
Due: core, services, plugins

Initial commit
  .gitignore
  MANIFEST.in
  ai/models/hybrid_model_loader.py
  blockchain/nft/cross_platform_reputation.py
  core/ai_management/ai_model_hub.py
  core/ai_management/lazy_model_loader.py
  core/analytics/dead_season_predictor.py
  core/automation/saga_orchestrator.py
  core/error_handling/error_hierarchy.py
  core/monitoring/black_box_recorder.py
  core/monitoring/memory_optimizer.py
  core/performance/intelligent_cache_system.py
  core/performance/resource_adaptor.py
  docker-compose.monitoring.yml
  docker-compose.yml
  migrations/unified_migration_manager.py
  platforms/universal_platform_adapter.py
  plugins/integration_plugins/voice_assistant_enhanced.py
  pyproject.toml
  requirements-base.txt
  requirements-dev.txt
  requirements-gpu.txt
  requirements-prod.txt
  requirements-test.txt
  requirements.txt
  scripts/deployment/rollback_deployment.py
  scripts/deployment/update_system.py
  scripts/monitoring/generate_reports.py
  scripts/setup/detect_device_profile.py
  scripts/setup/install_dependencies.py
  scripts/setup/secure_key_generator.py
  scripts/setup/setup_environment.py
  scripts/tools/diagnostics.py
  services/tax/tax_declaration_generator.py
  setup.cfg
  setup.py
  tools/code_analysis/dump_analyzer.py
  tools/deployment/dependency_check.py
Due: core, services, ai_models, plugins

Initial commit
  config/automation.json
  config/platform/custom/avito_uslugi.yaml
  config/platform/custom/telegram_jobs.yaml
  config/platform/custom/youla_freelance.yaml
  core/automation/intelligent_hub.py
  core/transparency/client_transparency_system.py
  platforms/universal_scraper_adapter.py
  scripts/high_volume_proposal_sender.py
Due: core
